{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>  
        <title>Facebook</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/fb-buttons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
        <script src="{% static 'scripts/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'scripts/application.js' %}"></script>
    </head>
    <body>
        <div id="header-container">
            <div id="logo">
                <h1><a href="/">facebook</a></h1>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>