body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    text-align: left;
    direction: ltr;
    color: #141823;
    line-height: 1.28;
    overflow-y: scroll;
}

#header-container {  
    background-image: url('../images/bg-header.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 0;
    background-color: #3a5795;
    border: 0;
    border-bottom: 1px solid #133783;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
    min-width: 100%;
    position:absolute;
    left:0;
    top:0;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active,
h1 a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
}