body {
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    background-color: #ccc;

}

#header-container {
    background-color: #3b5998;
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 0;
    background-color: #3a5795;
    border: 0;
    border-bottom: 1px solid #133783;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
    min-width: 100%;
    position:absolute;
    left:0;
    top:0;
}

.edit_post,
.delete_post {
    padding-right: 5px;
    color: #bbb;
    font-weight: bold;
}

a:visited,
a:active,
a:link {
    text-decoration: none;
    cursor: pointer;
    font-size: 11px;
    outline-style: none;
}

a:hover {
    text-decoration: underline;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.fb_logo {
    width: 170px;
    height: 36px;
    background-position: -98px -481px;
}

.login_lastrow {
    color: #9daccb;
    font-weight: normal;
}

.loggedout_menubar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}

#content-container {
    width: 496px;
    margin: 0 auto;
    padding: 86px;
    border: 0;
}

#header-container label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
}

.posts,
#status,
textarea:disabled {
    background-color: #fff;
    border-radius: 3px;
}

ul {
    list-style-type: none;
}

textarea {
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    resize: none;
}

textarea:focus {
    outline: none;
}

#status {
    margin: 0 auto;
    text-align: center;
}

.post-contents {
    padding-left: 25px;
}

