body {
    /*font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    text-align: left;
    direction: ltr;
    color: #141823;
    line-height: 1.28;
    overflow-y: scroll;*/

    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;

}

#header-container {  
    background-color: #3b5998;
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 0;
    background-color: #3a5795;
    border: 0;
    border-bottom: 1px solid #133783;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
    min-width: 100%;
    position:absolute;
    left:0;
    top:0;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active,
h1 a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.fb_logo {
    width: 170px;
    height: 36px;
    background-position: -98px -481px;
}

.login_lastrow {
    color: #9daccb;
    font-weight: normal;
}

.loggedout_menubar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}

#content-container {
    padding: 86px;
    min-width: 100%;
    border: 0;
    margin-left: -7px;
}

#header-container label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
}

#content {
    width: 976px;
    margin: 0 auto;
}

.post {
    background-color: white;
}

.post-contents {
    
}