{% extends "base.html" %}

{% block header_content %}
    <div class="float_right" style="">
        <table>
            <tr>
                <p></p>
            </tr>
            <tr>
                <td class='login_lastrow'>Hi, {{ user }}!</td>
                <td class='login_lastrow'>
                    <form id="logout_form" method="POST" action='{% url 'logout' %}'>
                        {% csrf_token %}
                        <input type="submit" class="uibutton confirm" value="Logout" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block content %}

    <div id="status">
        <form id="status_form" method="POST" action="">
            {% csrf_token %}
            <h2>Update Status</h2>
            {{ form.post }}
            <input type="submit" class="uibutton confirm" value="Post" />
        </form>
    </div>
    <div id="posts-container">
        {% for p in posts %}
            <div class="posts" id='{{ p.id }}'>
                <div class='post-contents'>
                    {% if p.user == user %}
                        <a href="/" class="del_post float_right" title='Delete post' id="{{ p.id }}">x</a>
                        <a href="/" class="edit_post float_right" title='Edit post' id="{{ p.id }}">edit</a>
                    {% endif %}
                    <h3> {{ p.user }} </h3>
                    {{ p.date }}
                    <br>
                    <textarea class='post-text' cols="55" disabled> {{ p.post }} </textarea>
                    <input class="float_right" type="button" value="Save" hidden>
                    <br><a href="/" class='like' id='{{ p.id }}'>{{ p.like_label }}</a>
                    {% if p.likers %}
                        <div class='likes' id='{{ post.id }}' title='{{ p.likers }}'>
                            {% if user in p.likers %}
                                {% if p.likers|length > 1 %}
                                    You and {{ p.likers|length|add:'-1' }} others liked this.
                                {% else %}
                                    You liked this.
                                {% endif %}
                            {% elif p.likers|length > 1 %}
                                {{ p.likers|first }} and {{ p.likers|length|add:-1 }} others liked this.
                            {% else %}
                                {{ p.likers|first }} liked this.
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

