{% extends "base.html" %}

{% block header_content %}
    <div class="float_right" style="">
        <table>
            <tr>
                <p></p>
            </tr>
            <tr>
                <td class='login_lastrow'>Hi, {{ user }}!</td>
                <td class='login_lastrow'>
                    <form id="logout_form" method="POST" action='{% url 'logout' %}'>
                        {% csrf_token %}
                        <input type="submit" class="uibutton confirm" value="Logout" />
                    </form>                            
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block content %}

    <div id="status">
        <form id="status_form" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="uibutton confirm" value="Post" />
        </form>
    </div> 
    <div id="posts-container">
        <p>POSTS</p>
        <div id="posts">
            {% for p in posts %}
                <div class="post">
                    <div class='post-contents'>
                        {{ p.user }}
                        {{ p.date }}
                        {{ p.post|linebreaks }}
                        <a href="/" class='like_post' id='{{ p.id }}'>Like</a>
                    </div>
                </div>                        
            {% endfor %}    
        
        </div>
    </div> 

{% endblock %}

