{% extends "base.html" %}

{% block header_content %}
    <div class="float_right" style="">
        <form id="logout_form" method="post" action='logout/'>
            {% csrf_token %}
            <input type="submit" class="uibutton confirm" value="Logout" />
        </form>        
    </div>
{% endblock %}

{% block content %}

<p>{{ user }}</p>

<div class="status">
    <form id="status_form" method="post" action='/'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="uibutton confirm" value="Post" />
    </form>
</div>  

{% endblock %}

