{% extends "base.html" %}

{% block header_content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class='float_right'>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.password.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.username }}</td>    
                <td>{{ form.password }}</td>
                <td> <input type="submit" class="uibutton confirm" value="Log In" /></td>
            </tr>
            <tr>
                <td class='login_lastrow'>Keep me logged in</td>
                <td class='login_lastrow'>Forgot your password?</td>

            </tr>
        </table>

    </form>     
</div>

{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}  
    {{ form_reg.as_p }}
    <input type="submit" value="Create" />
</form>

{% endblock %}