{% extends "base.html" %}

{% block header_content %}

<div class='float_right'>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.password.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.username }}</td>    
                <td>{{ form.password }}</td>
                <td> <input type="submit" class="uibutton confirm" value="Log In" /></td>
            </tr>
            <tr>
                <td class='login_lastrow'>Keep me logged in</td>
                <td class='login_lastrow'>Forgot your password?</td>
            </tr>
        </table>
    </form>     
</div>

{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="fberrorbox" style="width: 500px;">  
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}
    <div id='to_sign_up'>
        <h2>New to Facebook?</h2>
        <h3>
            Click here to 
            <a href="{% url 'signup' %}">SIGN UP!</a>
        </h3>
    </div>


{% endblock %}