<div class="posts" id='{{ post.id }}'>
    <div class='post-contents'>
        <a href="/" title='Delete post' class='del_post float_right' id='{{ post.id }}'>x</a>
        <a href="/" class="edit_post float_right" title='Edit post' id="{{ p.id }}">edit</a>
        <a href="/" class="save_post float_right" title='Save post' id="{{ p.id }}" hidden>save</a>
        <h3>{{ post.user }}</h3>
        {{ post.date }}
        <br><textarea class='post-text' cols="55" disabled> {{ post.post }} </textarea>
        <br><a href="/" class='like' id='{{ post.id }}'>Like</a>
    </div>
</div>
